:root {
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --background-color: #f4f4f4;
    --text-color: #222222;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: white;
}

.color-primary {
    background-color: #005f73;
}

.color-secondary {
    background-color: #0a9396;
}