/* MOBILE FIRST DESIGN */

:root {
    --primary-color: #4b0b73;
    --secondary-color: #ffffff;
    --background-color: #f4f4f4;
    --text-color: #222;
    --accent-color: #6a1b9a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* HEADER */

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

/* HAMBURGER */

#menuButton {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* NAVIGATION */

nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.8rem;
    text-align: center;
    font-weight: bold;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
}

nav a:focus {
    outline: 3px solid white;
    outline-offset: 3px;
}

.hide {
    display: none;
}

/* MAIN */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

main h1 {
    text-align: center;
    margin: 1rem 0 2rem;
    font-family: 'Poppins', sans-serif;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* CARD */

section {

    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.02);
}

section img {
    width: 100%;
    height: auto;
    display: block;
}

section h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    padding-top: 1rem;
}

section p {
    padding: .3rem 1rem;
}

/* FOOTER */

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0.3rems;
}