@media screen and (min-width: 768px) {

    .hero {
        position: relative;
    }

    .data-card {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .weather-card {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

    /* Hide SVG icon in large view */
    .weather-icon {
        display: none;
    }

    /* Pseudo-element requirement */
    .weather-card h2::after {
        content: " ⛅";
    }
}